<?xml version="1.0" encoding="UTF-8" ?>
<configuration >

    <!--确保 Logback 配置文件的命名为 logback-spring.xml，Spring Boot 将自动加载该配置文件-->
    <!--日志输出到控制台-->

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />

    <!--日志格式-->
    <property name="log_pattern" value="%clr(%d{yyyy-MM-dd HH:mm:ss SSS}){faint} %clr([线程名称:][%thread]){magenta} %clr(%-5level) %clr([日志记录器的名称，通常是类的全名:]%c){cyan} %clr([方法名:]%M){blue} %clr([行号:]%L){green} [日志消息:]%m%n"/>
    <property name="log_path" value="${user.dir}/src/main/java/com/test/log" />

<!--    class="ch.qos.logback.core.ConsoleAppender"                    <appender-->
<!--    class="ch.qos.logback.core.FileAppender"                       <appender-->
<!--    class="ch.qos.logback.core.rolling.RollingFileAppender"        <appender-->
<!--    class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"    <encoder-->
<!--    class="ch.qos.logback.classic.filter.LevelFilter"              <filter-->

<!--    <root level="ALL">-->
<!--        <appender-ref ref="_consoleAppender"></appender-ref>-->
<!--        &lt;!&ndash;        <appender-ref ref="_fileAppender"></appender-ref>&ndash;&gt;-->
<!--        &lt;!&ndash;        <appender-ref ref="_rollFileAppender"></appender-ref>&ndash;&gt;-->
<!--        <appender-ref ref="_log_info"></appender-ref>-->
<!--    </root>-->

    <!--日志信息输出到控制台-->
    <appender name="_consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <!--指定日志输出格式-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${log_pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <!--设置高于这个级别的打印-->
            <onMatch>ACCEPT</onMatch>
            <!--低于这个级别不显示-->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--日志输出到文件-->
    <appender name="_fileAppender" class="ch.qos.logback.core.FileAppender">
        <!--指定日志输出格式-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${log_pattern}</pattern>
        </encoder>
        <!--指定这个日志记录到哪个文件中-->
        <file>${log_path}/test.log</file>
    </appender>

    <!--再添加一个appender，指定日志的拆分规则-->
    <appender name="_rollFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--指定日志输出格式-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${log_pattern}</pattern>
        </encoder>
        <!--指定日志输出位置-->
        <file>${log_path}/logback.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <!--设置高于这个级别的打印-->
            <onMatch>ACCEPT</onMatch>
            <!--低于这个级别不显示-->
            <onMismatch>DENY</onMismatch>
        </filter>
        <!--指定拆分规则-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--指定拆分之后的日志文件的名字 以及压缩格式-->
            <fileNamePattern>${log_path}/logback/logback.%d{yyyy-MM-dd}.log%i.gz</fileNamePattern>
            <!--指定拆分大小-->
            <maxFileSize>100KB</maxFileSize>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
    </appender>


    <!--需求：要求info级别的信息输出到d:/log/info.log文件中-->
    <appender name="_log_info" class="ch.qos.logback.core.FileAppender">
        <encoder>
            <pattern>${log_pattern}</pattern>
        </encoder>
        <file>${log_path}/info.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <!--设置高于这个级别的打印-->
            <onMatch>ACCEPT</onMatch>
            <!--低于这个级别不显示-->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--需求：要求warn级别的信息输出到d:/log/warn.log文件中-->
    <appender name="_log_warn" class="ch.qos.logback.core.FileAppender">
        <encoder>
            <pattern>${log_pattern}</pattern>
        </encoder>
        <file>${log_path}/warn.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <!--设置高于这个级别的打印-->
            <onMatch>ACCEPT</onMatch>
            <!--低于这个级别不显示-->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--需求：要求debug级别的信息输出到d:/log/debug.log文件中-->
    <appender name="_log_debug" class="ch.qos.logback.core.FileAppender">
        <encoder>
            <pattern>${log_pattern}</pattern>
        </encoder>
        <file>${log_path}/debug.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!--你将会看到DEBUG级别及其以上的日志消息被正确输出和显示（包括INFO、WARN和ERROR日志消息）-->
            <level>DEBUG</level>
        </filter>
    </appender>

    <!--根日志记录器 可以配置多个Appender
        ALL: 表示所有级别的日志全部输出
    -->
    <root level="ALL">
        <appender-ref ref="_consoleAppender"></appender-ref>  <!--日志信息输出到控制台-->
        <appender-ref ref="_fileAppender"></appender-ref>  <!--日志输出到文件 test.log-->
        <appender-ref ref="_rollFileAppender"></appender-ref>  <!--再添加一个appender，指定日志的拆分规则-->
        <appender-ref ref="_log_info"></appender-ref>  <!--需求：要求info级别的信息输出到d:/log/login.log文件中-->
        <appender-ref ref="_log_warn"></appender-ref>  <!--需求：要求info级别的信息输出到d:/log/warn.log文件中-->
        <appender-ref ref="_log_debug"></appender-ref>  <!--需求：要求info级别的信息输出到d:/log/debug.log文件中-->
    </root>
</configuration>