<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="com.test.bean.po.Admin">
            <id property="adminId" column="admin_id" jdbcType="INTEGER"/>
            <result property="adminName" column="admin_name" jdbcType="VARCHAR"/>
            <result property="adminPass" column="admin_pass" jdbcType="VARCHAR"/>
            <result property="adminNickname" column="admin_nickname" jdbcType="VARCHAR"/>
    </resultMap>

    <!--含有角色信息的管理员 结果映射方案-->
    <resultMap id="AdminWithRoleResultMap" type="com.test.bean.po.Admin">
        <id property="adminId" column="admin_id" jdbcType="INTEGER"/>
        <result property="adminName" column="admin_name" jdbcType="VARCHAR"/>
        <result property="adminPass" column="admin_pass" jdbcType="VARCHAR"/>
        <result property="adminNickname" column="admin_nickname" jdbcType="VARCHAR"/>
        <collection property="roleList"
                    ofType="com.test.bean.po.Role"
                    column="admin_id"
                    select="com.test.mapper.RoleMapper.selectListByAdminId"/>
    </resultMap>

    <!--含有角色、菜单信息的管理员 结果映射方案-->
    <resultMap id="AdminWithRoleAndMenuResultMap" type="com.test.bean.po.Admin" extends="AdminWithRoleResultMap">
<!--        <id property="adminId" column="admin_id" jdbcType="INTEGER"/>-->
<!--        <result property="adminName" column="admin_name" jdbcType="VARCHAR"/>-->
<!--        <result property="adminPass" column="admin_pass" jdbcType="VARCHAR"/>-->
<!--        <result property="adminNickname" column="admin_nickname" jdbcType="VARCHAR"/>-->
<!--        <collection property="roleList"-->
<!--                    ofType="com.test.bean.po.Role"-->
<!--                    column="admin_id"-->
<!--                    select="com.test.mapper.RoleMapper.selectListByAdminId"/>-->
        <collection property="menuList"
                    ofType="com.test.bean.po.Menu"
                    column="admin_id"
                    select="com.test.mapper.MenuMapper.selectListByAdminId"/>
    </resultMap>

    <sql id="Base_Column_List">
        admin_id,admin_name,admin_pass,
        admin_nickname
    </sql>

    <insert id="register">insert into rhythm.admin (admin_name, admin_pass)
                          VALUES (#{adminName}, #{adminPass})</insert>

    <select id="getOneByName" resultMap="AdminWithRoleResultMap">
        select *
        from rhythm.admin
        where admin_name =#{username}
    </select>

    <select id="getOneWithRolelistMenulistByName" resultMap="AdminWithRoleAndMenuResultMap">
        select *
        from rhythm.admin
        where admin_name =#{username}
    </select>


    <!--手机号码唯一性 校验
    数据库查询 用户注册的手机号码 是否已经存在-->
    <select id="getListByName" resultType="com.test.bean.po.Admin">
        select *
        from rhythm.admin
        where admin_name =#{username}
    </select>

</mapper>
