<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.AdvertisementsMapper">

    <resultMap id="BaseResultMap" type="com.test.bean.po.Advertisements">
            <id property="adId" column="ad_id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="startDate" column="start_date" jdbcType="DATE"/>
            <result property="endDate" column="end_date" jdbcType="DATE"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="platform" column="platform" jdbcType="VARCHAR"/>
            <result property="targetAudience" column="target_audience" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ad_id,title,content,
        start_date,end_date,created_at,
        updated_at,platform,target_audience
    </sql>
    <select id="selectListByAdId" resultType="com.test.bean.po.Advertisements">
        select *
        from rhythm.advertisements
        where advertisements.ad_id = #{adId}
    </select>
</mapper>
