<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.test.bean.po.Menu">
            <id property="menuId" column="menu_id" jdbcType="INTEGER"/>
            <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
            <result property="menuUrl" column="menu_url" jdbcType="VARCHAR"/>
            <result property="pid" column="pid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        menu_id,menu_name,menu_url,
        pid
    </sql>

    <!--根据登录用户编号查询该登录用户拥有的菜单列表-->
    <select id="selectListByAdminId" resultType="com.test.bean.po.Menu">
        select a.*
        from
            menu a
                INNER JOIN `permission_menu` b on a.menu_id = b.menu_id
                INNER JOIN `role_permission` c on b.permission_id = c.permission_id
                INNER JOIN `admin_role` d on c.role_id = d.role_id
        where
            d.admin_id = #{AdminId};
    </select>

</mapper>
