<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.test.bean.po.Role">
            <id property="roleId" column="role_id" jdbcType="INTEGER"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_id,role_name
    </sql>
    <select id="getListByOperateUrl" resultType="com.test.bean.po.Role">
        SELECT
            d.*
        FROM
            rhythm.`operate` a
                INNER JOIN `permission_operate` b on a.operate_id = b.operate_id
                INNER JOIN `role_permission` c on b.permission_id = c.permission_id
                INNER JOIN `role` d on c.role_id = d.role_id
        WHERE
            a.operate_url = #{requestUrl}
    </select>

    <!--根据登录用户编号查询该登录用户拥有的菜单列表-->
    <select id="selectListByAdminId" resultType="com.test.bean.po.Role">
        select a.*
        from
            role a
                INNER JOIN admin_role b on a.role_id = b.role_id
        where
            b.admin_id = #{AdminId};
    </select>
</mapper>
